{{outlet}}

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
    <title>05 - Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="p5.min.js"></script>

		<style>
			body{
				overflow:hidden;

				  margin: 0px;
				  background: black;


			}
		</style>
  </head>

  <body>

    <div id="sketch">
      hello
		</div>

  </body>
</html>